body, html {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 100%;
    background-color: #f1f1f1;
  }
  
  #navbar-title {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
  }
  
  #navbar a {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: #333;
  }
  
  #navbar li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: #333;
    border-bottom: solid black 2px;
    padding: 50px 50px 50px 50px;
    margin-left: -40px; 
  }
  

  #navbar a:hover {
    color: rgba(255, 166, 0, 0.986)
  }
  
   a:hover {
    color: rgba(255, 166, 0, 0.986)
  }

  a {
    text-decoration: none;
  }
  
  
  #navbar li:first-of-type {
    border-top: solid black 2px;

  }

  .nav-link {
    color: #333;
  }

  
#main-doc {
    margin-left: 12.5%;
    height: 1000px; 
    background-color: #fff;
}


header{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 10px;
    padding: 20px 10px;
}

.insert-info {
    font-weight: bold;
}

code {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    color: rgba(255, 166, 0, 0.986);
    padding: 10px;
    border-radius: 10px;
    width: 33%;
    max-width: 100%;
    max-height: 100%;
    /* white-space: pre; */
    /* overflow: auto; */
  }


#insert-episode-list {
    list-style: square;
    display: flex;
    flex-wrap: wrap;
    max-height: 12000px;
    overflow: auto;
  }
  
  #insert-episode-list li {
      flex-basis: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    

    /* ! media query section  */
  @media (min-width: 600px) {
    #insert-episode-list li {
      flex-basis: 50%;
    }
  }
  
  @media (min-width: 900px) {
    #insert-episode-list li {
      flex-basis: 33.33%;
    }
  }