body, html {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 100%;
    background-color: #f1f1f1;
}

.nav-link {
    background-color: red;    
}

#main-doc {
    margin-left: 12.5%;
    height: 1000px; 
    background-color: #fff;
}


header{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 10px;
    padding: 20px 10px;
}


/* .main-section {
    background-color: green;
 
} */




/* #topic_1 {
}

#topic_2 {
    
}

#topic_3 {
    
}

#topic_4 {
    
}

#topic_5 {
    
}  */
.insert-info {
    font-weight: bold;
}

code {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
    color: darkorange;
    padding: 10px;
    border-radius: 10px;
    width: 33%;
    max-width: 100%;
    max-height: 100%;
    /* white-space: pre; */
    /* overflow: auto; */
  }
  